extends baseEmail

block content
    p Dear Team, the customer having following details wanted to be an agent:
    p #[strong Name:] #{fullName}
    p #[strong Email:] #{email}   
    p #[strong Contact Number:] #{contNumber}
    p #[strong Date of Birth:] #{dob}
    p #[strong Academic Qualification:] #{acaQualification}
    p #[strong Current Address:] #{crntAddress}
    p #[strong Permanent Address:] #{permAddress}
    p #[strong Current Occupation:] #{crntOccupation}
    p #[strong Name of Organization:] #{nameOfOrg}